html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif';
  background: #e9ecf1;
}
.contents {
  width: 1140px;
  height: 90%;
  min-height: 640px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #FFF;
  box-shadow: 2px 2px 4px #dee1e7;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
}
.row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.4rem;
  font-weight: bold;
}
.small-grey {
  margin-left: 10px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #999;
  font-weight: 400;
}